<template>
  <div class="hello">
    <canvas id="zhiboCanvas"></canvas>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  mounted() {
    const player = new window.QQJPlayer;
    player.setView("zhiboCanvas")
    player.setScaleMode(0)
    // player.setBufferTime(1e3)
    player.on("error", () => console.log('test error!'))
    player.on("videoInfo", () => console.log('test videoInfo!'))
    player.on("start", () => console.log('test start!'))
    player.resizeView(375, 200)
    player.start("https://authg01.hsq7.cn/tz124/8-1241c.flv?tk=9sYZWbpLvYtXQ8tQRa8EXD%2F96p4RiNSvWCTWwBCasZm5VxRuuFchuHpRit676Ji3BlE%2F2lOc7sreFuDZw%2F57u6OMVbQ%2FbWHC5J3FZGEN4pPyDQeM0LnaTpyY0jg5smF%2F");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
